name: Sync to collaborator
on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Push to collaborator repo
        env:
          PAT: ${{ secrets.COLLAB_TOKEN }}
        run: |
          git push https://$PAT@github.com/talktalki/wedding.git main --force
